* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom-calendar-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}
.react-calendar {
  width: 60%;
  font-size: 26px;
  /* height: 100%; */
}
.react-calendar__tile {
 aspect-ratio: 1/1;
}
